@charset "UTF-8";
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, address, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, hgroup, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
html, body                                  { position: relative; width: 100%; height: 100%; min-width: 980px; min-height: 100%; line-height: 1; }
html                                        { font-family: 'NanumGothic', roboto, Helvetica, sans-serif; font-size: 16px; color: #414141; -webkit-font-smoothing: antialiased; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul                                      { list-style: none; }
blockquote, q                               { quotes: none; }
table                                       { border-collapse: collapse; border-spacing: 0; }
*, *:before, *:after                        { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
a, a:hover, a:focus                         { text-decoration: none; background: transparent; box-shadow: none; }
input, textarea, keygen, select, button     { margin: 0; font: inherit; outline: none; }
button                                      { border: 0; cursor: pointer; }
input:focus, textarea:focus, select:focus, button:focus { outline: none; }
.eng                                        { font-family: 'Montserrat', 'NanumGothic', sans-serif; letter-spacing: -1px; }

section                                     { width: 1020px; min-width: 1020px; margin: 0 auto; padding: 0 20px; }
#header                                     { height: 90px; }
#header header                              { display: inline-block; width: 100%; padding: 30px 0; }
#header header h1                           { float: left; font-size: 29px; }
#header header h1 a                         { background: url(../img/logo.png) no-repeat 0 center; padding-left: 47px; color: #414141; }
#header nav                                 { float: right; width: auto; margin-top: 4px; }
#header nav > ul > li                       { position: relative; float: left; width: auto; margin-left: 60px; }
#header nav > ul > li > a                   { font-weight: bold; color: #414141; }
#header nav > ul > li > a:hover,
#header nav > ul > li > a.active            { color: #8ac469; }

#header nav .dropdown                       { display: none; opacity: 0; position: absolute; top: 15px; left: 50%; margin-left: -80px; padding-top: 15px; width: 160px; z-index: 9999; }
#header nav .dropdown.active                { display: block; opacity: 1; }
#header nav .dropdown:before                { content: ''; position: absolute; top: 10px; left: 50%; margin-left: -4.5px; width: 0; height: 0; border-bottom: 5px solid #8ac469; border-left: 5px solid transparent; border-right: 5px solid transparent; }
#header nav .dropdown li                    { background: #8ac469; border-top: 1px solid rgba(255,255,255,0.2); }
#header nav .dropdown li:first-child        { border: 0; }
#header nav .dropdown a                     { display: block; color: white; font-weight: bold; text-align: center; line-height: 45px; }
#header nav .dropdown a:hover               { color: #414141; }
#header nav .dropdown a.active              { color: #414141; pointer-events: none; cursor: default; }

#slide                                      { position: relative; width: 100%; height: 350px; padding: 0; }
#slide .wrap-slide                          { position: relative; width: 100%; height: 100%; overflow: hidden; }
#slide .slide-img                           { position: absolute; top: 0; display: table; width: 100%; height: 100%; }
#slide .slide01                             { left: 0; background: url(../img/slide01.jpg) no-repeat center 75%; background-size: cover; }
#slide .slide02                             { left: 100%; background: url(../img/slide01.jpg) no-repeat center 50%; background-size: cover; }
#slide .slide-txt                           { display: table-cell; vertical-align: middle; text-align: center; color: white; }
#slide .slide-txt h2                        { font-size: 60px; }
#slide .slide-txt h3                        { font-size: 20px; font-weight: bold; margin-top: 10px; }
#slide .control                             { position: absolute; top: 159px; left: 50%; width: 20px; height: 39px; display: block; text-indent: -999999px; }
#slide #btn_prev                            { margin-left: -490px; background: url(../img/btn_prev.png) no-repeat 0 0; }
#slide #btn_next                            { margin-left: 470px; background: url(../img/btn_next.png) no-repeat 0 0; }
#slide .slide-indicators                    { position: absolute; bottom: 10px; width: 100%; text-align: center; }
#slide .slide-pos                           { display: inline-block; margin: 0 3px; width: 15px; height: 15px; background: white; opacity: 0.4; border-radius: 50%; overflow: hidden; cursor: pointer; }
#slide .slide-pos.active                    { opacity: 1; }

#footer                                     { background: #e1e5df; width: 100%; margin-top: -300px; }
#footer footer                              { width: 980px; margin: 0 auto; padding: 40px 0; }
#footer .footer-nav                         { display: inline-block; width: 100%; height: 120px; }
#footer .footer-nav > div                   { position: relative; width: 25%; float: left; text-align: center; }
#footer .footer-nav > div:after             { content: ''; position: absolute; top: 0; left: 0; width: 1px; height: 120px; background: white; }
#footer .footer-nav > div.nav-intro:after   { content: none; }
#footer .footer-nav h3                      { font-size: 20px; font-weight: bold; padding: 10px 0; }
#footer .footer-nav a                       { color: #414141; line-height: 24px; }
#footer .footer-nav a:hover                 { color: #8ac469; font-weight: bold; }
#footer .footer-nav a.active                { color: #8ac469; font-weight: bold; pointer-events: none; cursor: default; }
#footer .share                              { text-align: center; margin-top: 30px; }
#footer .share ul                           { display: inline-block; }
#footer .share li                           { float: left; margin: 0 5px; }
#footer .share li a                         { display: block; width: 40px; height: 40px; background: white; border-radius: 50%; overflow: hidden; }
#footer .share li a:hover img               { opacity: 0.3; }
#footer address                             { font-size: 14px; font-weight: 100; text-align: center; margin-top: 10px; }

#main                                       { padding-bottom: 400px; }
#main .content                              { width: 100%; padding: 0; }
#main .content h2                           { font-size: 40px; text-align: center; margin-top: 75px; }
#main .works                                { margin-top: 20px; display: table; }
#main .works ul                             { margin: -5px; }
#main .works .box                           { float: left; padding: 5px; }
#main .works .box div                       { position: relative; }
#main .works .box:hover div:before          { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; background: rgba(0,0,0,0.2); }
#main .works .box img                       { display: block; }
#main .works .box p                         { color: #414141; font-size: 20px; font-weight: bold; text-align: center; margin-top: 15px; }

#title                                      { width: 100%; background: #414141; }
#title h3                                   { width: 980px; margin: 0 auto; padding-left: 250px; color: white; font-size: 40px; line-height: 90px; }

#container                                  { content: ''; display: table; height: 100%; margin-top: -180px; padding-top: 180px; padding-bottom: 300px; }

.subnav                                     { display: inline-block; width: 220px; height: 100%; margin-top: -90px; }
.subnav .nav-title                          { display: table; width: 100%; height: 140px; background: #8ac469; text-align: center; }
.subnav .nav-title h2                       { display: table-cell; vertical-align: middle; color: white; font-size: 24px; }
.subnav ul                                  { height: 100%; border-left: 1px solid #e1e5df; border-right: 1px solid #e1e5df; }
.subnav ul li                               { border-bottom: 1px solid #e1e5df; }
.subnav ul li a                             { display: block; padding: 20px; color: #888888; font-size: 20px; font-weight: bold; }
.subnav ul li a:before                      { content: ''; opacity: 0.3; width: 8px; height: 15px; margin-right: 10px; display: inline-block; background: url(../img/img_arrow.png) no-repeat; }
.subnav ul li a:hover                       { color: #8ac469; }
.subnav ul li a:hover:before,
.subnav ul li a.active:before               { opacity: 1; }
.subnav ul li a.active                      { color: #8ac469; pointer-events: none; cursor: default; }

.history ul li                              { padding-top: 40px; }
.history ul li:first-child                  { padding: 0; }
.history ul li:first-child .dot:before      { content: none; }
.history ul li span                         { display: inline-block; }
.history .year                              { color: #888888; font-size: 20px; vertical-align: middle; width: 50px; }
.history .month                             { font-size: 40px; vertical-align: middle; width: 52px; text-align: center; }
.history .dot                               { position: relative; width: 9px; height: 9px; display: inline-block; margin: 0 20px; border-radius: 50%; background: #8ac469; vertical-align: middle; }
.history .dot:before                        { content: ''; position: absolute; bottom: 9px; left: 4px; width: 1px; height: 71px; background: #8ac469; }
.history p                                  { display: inline-block; font-weight: bold; vertical-align: middle; }
.history p.align                            { display: block; margin-left: 155px; }

.content                                    { display: inline-block; vertical-align: top; width: 760px; padding: 50px 0 150px 50px; }
.content .txt-box                           { margin-bottom: 10px; padding: 20px; background: #e1e5df; font-weight: bold; }
.content .txt-box.lg                        { padding: 60px; line-height: 30px; text-align: center; }
.content h3                                 { font-size: 30px; font-weight: bold; }
.content h4                                 { font-size: 20px; font-weight: bold; }
.content .list                              { position: relative; }
.content .list .list-title                  { font-size: 20px; font-weight: bold; margin: 30px 0 10px; }
.content .list .list-title:before           { content: ''; display: inline-block; width: 4px; height: 19px; background: #8ac469; margin-right: 10px; vertical-align: middle; }
.content .list ul li                        { color: #888888; font-weight: bold; margin: 5px 0; line-height: 24px; }
.content .list ul li:before                 { content: ''; display: inline-block; width: 4px; height: 7px; margin-right: 10px; background: url(../img/img_arrow_list.png) no-repeat 0 0; } 
.content .list .btn                         { position: absolute; top: 0; right: 0; }
.content .refer                             { font-weight: bold; margin-top: 30px; }

.btn                                        { font-weight: bold; line-height: 38px; padding: 0 12px; display: inline-block; }
.btn.green                                  { background: #8ac469; color: white; border: 1px solid #8ac469; }
.btn.green:hover                            { background: transparent; color: #8ac469; border: 1px solid #8ac469; }
.btn.gray                                   { background: #888888; color: white; border: 1px solid #888888; }
.btn.gray:hover                             { background: transparent; color: #888888; border: 1px solid #888888; }
.btn.lg                                     { font-size: 20px; line-height: 48px; min-width: 160px; text-align: center; }
.btn-group                                  { margin-top: 50px; text-align: center; }
.btn-group a                                { margin: 0 10px; }

.incruit h3                                 { margin-top: 50px; }
.map                                        { margin-bottom: 50px; }
.map img                                    { display: block; border: 1px solid #8ac469; width: 100%; }
.table                                      { width: 100%; border-top: 1px solid #8ac469; border-bottom: 1px solid #8ac469; }
.table tr                                   { height: 50px; border-top: 1px solid #e1e5df; }
.table tr:first-child                       { border: 0; }
.table th                                   { width: 130px; background: #f3f9f0; font-weight: bold; vertical-align: middle; }
.table td                                   { padding: 0 20px; vertical-align: middle; }

.prod-img                                   { display: inline-block; width: 320px; margin-bottom: 30px; }
.prod-intro                                 { display: inline-block; width: 390px; margin-bottom: 30px; padding: 0 0 0 20px; vertical-align: top; }
.prod-intro h4                              { margin: 30px 0 20px; }
.prod-intro p                               { color: #888888; font-weight: bold; line-height: 24px; }

.serv-img                                   { display: inline-block; width: 350px; }
.serv-intro                                 { display: inline-block; width: 360px; padding: 0 0 0 20px; vertical-align: top; }
.serv-intro h3                              { margin-bottom: 30px; }
.service .btn                               { margin-left: 20px; }

.wrap-form                                  { margin-top: 50px; }
.form-group                                 { position: relative; padding-left: 120px; margin: 10px 0; }
.form-group label                           { position: absolute; top: 0; left: 0; line-height: 50px; font-size: 20px; font-weight: bold; }
.form-group input                           { display: block; width: 100%; height: 50px; padding: 15px 20px; border: 1px solid #8ac469; border-radius: 5px; font-size: 16px; }
.form-group textarea                        { display: block; width: 100%; height: 200px; padding: 15px 20px; border: 1px solid #8ac469; border-radius: 5px; line-height: 20px; resize: none; }

.consulting ul                              { margin-top: 30px; }
.consulting li                              { font-size: 20px; font-weight: bold; margin: 20px 0 0; }
.consulting li:before                       { content: ''; width: 80px; height: 80px; display: inline-block; overflow: hidden; margin-right: 30px; vertical-align: middle; }
.consulting .cons1:before                   { background: url(../img/img_consulting.png) no-repeat 0 0; }
.consulting .cons2:before                   { background: url(../img/img_consulting.png) no-repeat 0 -80px; }
.consulting .cons3:before                   { background: url(../img/img_consulting.png) no-repeat 0 -160px; }
.consulting .cons4:before                   { background: url(../img/img_consulting.png) no-repeat 0 -240px; }
.consulting .cons5:before                   { background: url(../img/img_consulting.png) no-repeat 0 -320px; }
.consulting .cons6:before                   { background: url(../img/img_consulting.png) no-repeat 0 -400px; }
