.header_box{max-width: 1400px; width: 95%; height:80px; margin: 0 auto; box-sizing: border-box; position: relative;}

.header_box .logo{position: absolute; left: 0; top: 18px; z-index: 100;}

.header_box .logo span{color: #414141; font-size: 29px; font-family: 'Montserrat', 'NanumGothic', sans-serif; letter-spacing: -1px;}



@media screen and (min-width:1025px){
	.menu_btn_box{display: none;}

	.snb{display: none;}

    .header_box .gnb_curtain{position: absolute; height: 150px; top: 80px; left: 0; width: 100%; background: rgba(33, 33, 33, .95); display: none;}

    .header_box .gnb{display: block; width: 100%; text-align: center; position: relative;}

    .header_box .gnb .gnb_ul_box{display: inline-block;}

    .header_box .gnb .gnb_ul_box > li{display: inline-block; vertical-align: top; position: relative;}

    .header_box .gnb .gnb_ul_box > li > a{font-size: 18px; padding: 26px 40px; font-weight: bold; color: #222; display: block;}

    .header_box .gnb .gnb_ul_box > li > a.active{color: #8ac469;}

    .header_box .gnb .gnb_ul_box > li:hover > a{color: #8ac469;}

    .header_box .gnb .gnb_ul_box > li > a:before{content: ""; display: block; position: absolute; left: 50%; bottom: 20px; width: 50%; height: 2px; background: #8ac469; 
        transform: scale(0) translateX(-50%); transition: all 0.3s;}

    .header_box .gnb .gnb_ul_box > li:hover > a:before{transform: scale(1) translateX(-50%);}

    .header_box .gnb .gnb_ul_box > li > ul{position: absolute; width: 100%; height: 150px; left: 0; border-right: 1px solid #FFF; display: none;}

    .header_box .gnb .gnb_ul_box > li:first-child > ul{border-left: 1px solid #FFF;}

    .header_box .gnb .gnb_ul_box > li > ul > li > a{display: block; padding: 6.5px 0; font-weight: 400; text-align: center; color: #888;}

    .header_box .gnb .gnb_ul_box > li > ul > li > a.active{color: #FFF;}

    .header_box .gnb .gnb_ul_box > li > ul > li > a:hover{color:#FFF;}

}



@media screen and (max-width:1024px){
	.header_box .gnb{display: none;}


	.menu_btn_box{position: fixed; right: 2.5%; top: 30px; height: 50px; width: 50px; border:1px solid #000; text-align: center; cursor: pointer; z-index: 1000;}

    .menu_btn_box:hover button{transform: rotate(90deg);}

    .menu_btn_box button{width: 30px; height: 20px; margin-top: 15.5px; position: relative; transition: all 0.3s;}

    .menu_btn_box button span{position: absolute; left: 0; width: 30px; height: 3px; background: #000; transition: all 0.3s;}

    .menu_btn_box button .bar1{top: 0;}

    .menu_btn_box button .bar2{top: 8.5px;}

    .menu_btn_box button .bar3{top: 17px;}

    .menu_btn_box.active{border:1px solid #FFF;}

    .menu_btn_box.active span{background: #FFF;}

    .menu_btn_box.active button .bar1{transform:translateY(8.5px) rotate(-45deg);}

    .menu_btn_box.active button .bar2{opacity:0;}

    .menu_btn_box.active button .bar3{transform:translateY(-8.5px) rotate(45deg);}

    .header_box .snb{position: fixed; right: -300px; top: 0; width: 300px; height: 100%; padding-top: 110px; z-index: 990; border-left:1px solid #CCC;
    	background: rgba(0,0,0,0.8); transition: all 0.5s; }

    .header_box .snb.active{right:0; }

    .header_box .snb > ul > li:first-child a{border-top: 1px solid #000;}

    .header_box .snb > ul > li > a{display: block; width: 100%; height: 55px; line-height: 55px; text-indent: 15px; border-bottom: 0.5px solid #CCC; color: #666; 
    	background: #EEE; font-size: 16px; font-weight: bold}
    
    .header_box .snb > ul > li > a:hover{color:#8ac469;}

    .header_box .snb > ul > li > a.active{background: #8ac469; color: #FFF;}

    .header_box .snb > ul > li > ul{display: none;}

    .header_box .snb > ul > li > ul > li >a{display: block; height: 40px; line-height: 40px; color: #FFF; font-weight: bold; text-indent: 20px;
        border-bottom: 1px solid #FFF;}

    .header_box .snb > ul > li > ul > li >a:hover{background: #000;}
}