
/**/
/* Font Style */
/**/


@import url('https://fonts.googleapis.com/css?family=Noto+Sans');


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);


@import url(https://fonts.googleapis.com/css?family=Raleway:500);

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


@font-face { 
	font-family: 'yg-jalnan'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal;
}


@font-face { 
	font-family: 'Binggrae-Bold'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); 
	font-weight: normal; font-style: normal; 
}

/**/
/* Common Style */
/**/



*{
	font-family: 'Noto Sans', sans-serif; 
	font-size:16px; 
	color:#222; 
	line-height:160%;
} 

body, html{
	height:100%;
}

body.active{
	padding-top: 80px;
}

.clearfix:after{
	clear:both; 
	display:block; 
	content:"";
}

.hidden_label{
	display:block; 
	width:0 !important; 
	height:0 !important; 
	visibility:hidden; 
	margin:0 !important; 
	padding:0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Binggrae-Bold';
    color: #595959;
}

a:hover{
	text-decoration:none;
}

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,li,figure{
	margin:0; padding:0;
}

.page_section{
	padding: 120px 0;
}

.text-white{
	color: #FFF;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-20{
	margin-top:20px;
}


/*  */
/* breadcrumbs */
/*  */

.breadcrumbs{
	padding: 30px 0;
	border-bottom: 1px solid #CCC;
	background: #fafafa;
}

@media screen and (min-width:769px){

	.breadcrumbs .row{
		display: flex;
		align-items: center;
	}

	.breadcrumbs_ul{
		text-align: right;
	}
}

@media screen and (max-width:768px){

	.breadcrumbs h1{
		text-align: center;
		margin-bottom: 20px;
	}

	.breadcrumbs_ul{
		text-align: center;
	}


}



.breadcrumbs h1{
	color: #595959;
	font-size: 36px;
}



.breadcrumbs_ul li{
	display: inline-block;
}

.breadcrumbs_ul li a{
	color: #888;
}

.breadcrumbs_ul li a:hover{
	color: #8ac469;
}

.breadcrumbs_ul li i{
	margin:0 8px;
}






/**/
/* Header Style */
/**/

header{
	transition: all 0.3s;
}

header.active{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 10000;
}

.header_wrapper{
	height: 100px;
	background: #FFF;
	border-bottom: 1px solid #EEE;
	transition: all 0.3s;
}

header.active .header_wrapper{
	height: 80px;
}

.gnb_wrapper{
	width: 100%;
	height: 100px;
	transition: all 0.3s;
}

header.active .gnb_wrapper{
	height: 80px;
}

.nav_logo{
	float:left;
	width: 20%;
}

.nav_logo .logo{
	display: flex;
	align-items: center;
	height: 100px;
	transition: all 0.3s;
}

header.active .nav_logo .logo{
	transition: all 0.3s;
	height: 80px;
}

.nav_logo .logo_txt{
	color: #000; 
	font-size: 25px; 
	font-family: yg-jalnan;
	
	
}

.nav_logo img{
	margin-right: 3px;
}

.nav_logo img,
.nav_logo span{
	display: inline-block;
}




@media screen and (min-width:997px){

	.snb{
		display: none;
	}

	.gnb{
	float: right;
	}

	.gnb > ul > li{
		float:left;
		margin-left: 30px;
		position: relative;
	}

	.gnb > ul > li > a{
		display: inline-block;
		color: #777;
		font-family: Binggrae-Bold;
		height: 100px;
		line-height: 100px;
		transition: all 0.3s;
	}

	.gnb > ul > li.active > a{
		color: #8ac469;
	}

	header.active .gnb > ul > li > a{
		height: 80px;
		line-height: 80px;
	}

	.gnb > ul > li > a > i{
		color: #777;
	}

	.gnb > ul > li.active > a > i{
		color: #8ac469;
	}

	.gnb > ul > li:hover > a,
	.gnb > ul > li:hover > a > i{
		color: #8ac469;
	}

	.gnb > ul > li > ul{
		position: absolute;
		min-width: 200px;
		top: 90%;
		left:0;
		border-radius: 5px;
		box-shadow: 0 0 12px rgba(0,0,0,0.1);
		background-color: rgba(255,255,255,0.95);
		overflow: hidden;
		display: none;
		z-index: 1000;
	}

	.gnb > ul > li > ul.active{
		

		
	}

	.gnb > ul > li > ul > li:nth-child(2n){
		border-top: 1px solid #CCC;
		border-bottom: 1px solid #CCC;
		box-sizing: border-box;
	}

	.gnb > ul > li > ul > li.active > a{
		color: #FFF;
		background: #8ac469;
	}

	.gnb > ul > li > ul > li > a{
		display: block;
		width: 100%;
		height: auto !important; 
		padding: 11px 15px;
		box-sizing: border-box;
		color: #777;
		font-size: 14px;
	}

	.gnb > ul > li > ul > li > a:hover{
		color: #FFF;
		background: #8ac469;

	}
}



@media screen and (max-width:996px){
	.gnb{display: none;}
	
	.snb{
		width: 40px;
		height: 100px;
		position: absolute;
		right: 5%;
		top: 0;
		transition: all 0.3s;
		z-index: 11000;
	}

	header.active .snb{
		height: 80px;
	}

	.snb > i{
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		text-align: center;
		background: #8ac469;
		line-height: 40px;
		color: #FFF;
		border-radius: 5px;
		font-size: 20px;
		cursor: pointer;
	}

	.snb .snb_box{
		position: fixed;
		width: 100%;
		height: 100%;
		left:0;
		top: 0;
		background: #111;
		display: none;
	}

	.snb .snb_box h1{
		text-align: center;
	}

	.snb .snb_box h1 a{
		text-align: center;
		display: inline-block;
		line-height: 100px;
		color: #FFF;
		font-family: "yg-jalnan";
		font-size: 28px;
	}

	.snb .snb_box .snb_btn_box{
		position: absolute;
		top: 32.5px;
		right: 10px;
		width: 35px;
		height: 35px;
	}

	.snb .snb_box .snb_btn_box .bar{
		position: absolute;
		display: block;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		height: 2px;
		background: #FFF;
	}

	.snb .snb_box .snb_btn_box .bar1{
		transform: rotate(45deg);
	}

	.snb .snb_box .snb_btn_box .bar2{
		transform: rotate(-45deg);
	}


	.snb .snb_box .snb_list_box{
		margin-top: 50px;
		padding: 0 10px;
	}

	.snb .snb_box .snb_list_box > li > a{
		display: block;
		padding: 20px 0 10px;
		font-size: 18px;
		color: #FFF;
		border-top: 1px solid #2d2d2d;
	}

	.snb .snb_box .snb_list_box > li:first-child > a{
		border-top: 0 none;
	}

	.snb .snb_box .snb_list_box > li > a i{
		float: right;
		font-size: 18px;
		color: #2d2d2d;
	}

	.snb .snb_box .snb_list_box > li.active > a i.fa-chevron-right{
		display: none;
	}

	.snb .snb_box .snb_list_box > li > a i.fa-chevron-down{
		display: none;
	}

	.snb .snb_box .snb_list_box > li.active > a i.fa-chevron-down{
		display: block;
		color: #FFF;
	}

	.snb .snb_box .snb_list_box > li > ul{
		padding: 30px 0 20px 15px;
		border-top: 1px solid #FFF;
	}

	.snb .snb_box .snb_list_box > li > ul{
		display: none;
	}

	.snb .snb_box .snb_list_box > li.active > ul{
		display: block;
	}

	.snb .snb_box .snb_list_box > li > ul > li{
		padding-bottom: 10px;
	}

	.snb .snb_box .snb_list_box > li > ul > li > a{
		font-size: 15px;
		font-weight: bold;
		color: #FFF;
		line-height: 30px;
	} 

}


/*  */
/* slider */
/*  */

.slide_wrapper{
	max-width: 100%; 
	width: 100%;
	height: 100%;
	margin: 0 auto;
	max-height: 700px;
}

@media screen and (max-width:899px){
	.slide_wrapper{
		max-height: 500px;
	}
}

.slide_box{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.slide_img{
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	position: absolute;
	left:0;
	top: 0;
}


@media screen and (min-width:900px){
	.slide_img{
		background-attachment: fixed;
	}
}

.slide_img1{
	background-image: url(../img/slide01.jpg);	
}

.slide_img2{
	background-image: url(../img/slide02.jpg);
	display: none;
}

.slide_img3{
	background-image: url(../img/slide01.jpg);
	display: none;
}

.slide_txt_box{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	z-index: 990;
	left: 0;
	top: -80px;
	opacity: 0;
	transition: all 1s;
}




.slide_img.active .slide_txt_box{
	top: 0;
	opacity: 1;
}

.slide_txt1{
	font-family: 'Binggrae-Bold';
	font-size: 70px;
	text-shadow: 0 10px 10px rgba(0,0,10);
	color: #FFF;
	letter-spacing:4px;
}

@media screen and (max-width:899px){
	.slide_txt1{
		font-size: 40px;
	}
}

.slide_txt2{
	color: #FFF;
	text-shadow: 0 10px 10px rgba(0,0,10);
	padding: 0 10px;
	font-size: 16px;
	font-weight: 700;
}

.slide_btn{
	display: block;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    width:160px;
    padding: 8px 20px;
    color: #FFF;
    background: transparent;
    border: 2px solid #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.slide_btn:hover{
	background: #FFF;
	color: #8ac469;
}

.slide_left_bnt,
.slide_right_bnt{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 100px;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 0.3s;
	z-index: 1100;
}

.slide_wrapper:hover .slide_left_bnt,
.slide_wrapper:hover .slide_right_bnt{
	opacity: 1;
}

.slide_left_bnt:hover,
.slide_right_bnt:hover{
	background: rgba(0,0,0,1);
}

.slide_left_bnt{
	left: 0;
	border-radius: 0 5px 5px 0;
}

.slide_right_bnt{
	right:0;
	border-radius: 5px 0 0 5px;
}

.slide_left_bnt .fa-chevron-left,
.slide_right_bnt .fa-chevron-right{
	font-size: 40px;
	color: #FFF;
}



/*  */
/* card */
/*  */

.p-side{
	padding: 0 14px;
}

.mt-minus{
	margin-top: -135px;
}


@media screen and (max-width:899px){
	.mt-minus{
		margin-top: -50px;
	}
}

.services-with-bg{
	position: relative;
	box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.15);
	z-index: 1200;
	border-radius: 10px;
	box-sizing: border-box;
	overflow: hidden;
}

.service-center-icon{
	padding: 40px 30px 35px 40px;
}

.cws-icon{
	width: auto;
    height: auto;
    color: #28a6ec;
}

.service-center-icon .cws-icon{
	display: inline-block;
}

.service-center-icon .cws-icon:before {
    line-height: 1;
    font-size: 40px;
}

.service-center-icon.white{
	background: #FFF;
}

.divider.mini {
    width: 30px;
}

.divider.gray-darknest {
    background: #8a9499;
}

.divider {
    display: block;
    margin: 9px auto;
    width: 50px;
    height: 2px;
    background: #28a6ec;
}

.cws-button.small {
    line-height: 19px;
    min-width: 120px;
    padding: 6px 20px;
}

.cws-button {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    min-width: 160px;
    padding: 8px 20px;
    color: #28a6ec;
    background: transparent;
    border: 2px solid #28a6ec;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.cws-button:hover{
	background:#28a6ec;
	color: #FFF;
}

.service-center-icon.color-4{
	background: #43C5B8;
}

.flaticon-mug16{
	color: #FFF;
}

.whtie_bar{
	background: #FFF !important;
}

.cws-button.white {
    border-color: #FFF;
    color: #FFF;
}

.cws-button.white:hover{
	background: #FFF;
	color: #43C5B8;
}

.service-center-icon.color_blue{
	background: #28a6ec;
}

.service-center-icon .flaticon-diamond7{
	color: #FFF;
}

.cws-button.color_txt_blue:hover{
	background: #FFF;
	color: #28a6ec;
}



/*  */
/* Our Features */
/*  */

.OurFeatures_section .color_txt{
	color: #8ac469;
	font-size: 40px;
	font-family: "Binggrae-Bold";
}

.OurFeatures_section h2{
	text-align: center;
	font-size: 40px;
	position: relative;
	margin-bottom: 40px;

}

.OurFeatures_section h2:before{
	content: "";
	display: block;
	position: absolute;
	left:50%;
	top: 100%;
	transform: translateX(-50%);
	width: 70px;
	height: 2px;
	background: #e6e6e6;
	margin: 10px 0;
}

.OurFeatures_section .row > p{
	text-align: center;
	margin-bottom: 50px;
}




/* content_box 공통 */

.OurFeatures_section .content_box .content_custom > div{
	margin-bottom: 50px;
}

.OurFeatures_section .content_box .txt_box .icon{
	display: inline-block;
	box-sizing: border-box;
	font-size: 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	overflow: hidden;
	color: #FFF;
	transition: all 0.3s;
}

.OurFeatures_section .content_box .txt_box .icon:before{
	line-height: 78px;
	z-index: 100;
	position: relative;
}

.OurFeatures_section .content_box .txt_box .icon:after{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	width: 90%;
	height: 90%;
	border-radius: 50%;
	z-index: 99;
	box-sizing: border-box;
}

.OurFeatures_section .content_box .txt_box:hover .icon:after{
	background: transparent;
}

.OurFeatures_section .content_box .content_custom .txt_box h3{
	font-size: 20px;
	margin-bottom: 10px;
}

.OurFeatures_section .content_box .content_custom .txt_box p{
	font-size: 13px;
}

.OurFeatures_section .content_box .content_custom .txt_box .icon{
	margin: 0 15px;
}



/* content_box content_left */

.OurFeatures_section .content_box .content_left .txt_box .icon{
	float: left;
}

.OurFeatures_section .content_box .txt_box1 .icon{
	border:1px solid #28a6ec;
}

.OurFeatures_section .content_box .txt_box1 .icon:after{
	background: #28a6ec;
}

.OurFeatures_section .content_box .txt_box1:hover .icon{
	color: #28a6ec;
}


.OurFeatures_section .content_box .txt_box2 .icon{
	border:1px solid #2EB851;
}

.OurFeatures_section .content_box .txt_box2 .icon:after{
	background: #2EB851;
}

.OurFeatures_section .content_box .txt_box2:hover .icon{
	color: #2EB851;
}

.OurFeatures_section .content_box .txt_box3 .icon{
	border:1px solid #43C5B8;
}

.OurFeatures_section .content_box .txt_box3 .icon:after{
	background: #43C5B8;
}

.OurFeatures_section .content_box .txt_box3:hover .icon{
	color: #43C5B8;
}

/* content_box content_right */

.OurFeatures_section .content_box .content_right .txt_box .icon{
	float: right;
}

.OurFeatures_section .content_box .content_right .txt_box h3,
.OurFeatures_section .content_box .content_right .txt_box p{
	text-align: right;
}

.OurFeatures_section .content_box .txt_box4 .icon{
	border:1px solid #F56363;
}

.OurFeatures_section .content_box .txt_box4 .icon:after{
	background: #F56363;
}

.OurFeatures_section .content_box .txt_box4:hover .icon{
	color: #F56363;
}

.OurFeatures_section .content_box .txt_box5 .icon{
	border:1px solid #f9b91e;
}

.OurFeatures_section .content_box .txt_box5 .icon:after{
	background: #f9b91e;
}

.OurFeatures_section .content_box .txt_box5:hover .icon{
	color: #f9b91e;
}

.OurFeatures_section .content_box .txt_box6 .icon{
	border:1px solid #C744FD;
}

.OurFeatures_section .content_box .txt_box6 .icon:after{
	background: #C744FD;
}

.OurFeatures_section .content_box .txt_box6:hover .icon{
	color: #C744FD;
}

.OurFeatures_section .content_box .contet_center{
	padding: 10px;
	box-sizing: border-box;
}

.OurFeatures_section .content_box .contet_center img{
	display: block;
	width: 100%;
	height: auto;
}

@media screen and (min-width:1200px){

	.OurFeatures_section .content_box > div{
		float: left;
		width: 33.33%;
	}

	.OurFeatures_section .content_box div{
		float: left;
	}
}

@media screen and (max-width:1199px){
	.OurFeatures_section .content_box .contet_center{
		margin-bottom: 40px;
	}
}



/*  */
/* hoem_about_container */
/*  */

.hoem_about_container{
	background: #fafafa;
	border-top: 1px solid #d9d9d9;
}

.hoem_about_container .img_box img{
	display: block;
	width: 100%;
	height: auto;
}

.hoem_about_container .txt_box{
	text-align: center;
}

.hoem_about_container .txt_box h2{
	font-size: 40px;
	position: relative;
	margin-bottom: 25px;
	font-weight: lighter ;
	text-align: left;
}

.hoem_about_container .txt_box h2 span{
	font-size: 40px;
	color: #8ac469;
	font-family: "Binggrae-Bold";
	font-weight: lighter ;
}

.hoem_about_container .txt_box h2:before{
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top:100%;
	width: 50px;
	height: 2px;
	background: #8ac469;
	margin:10px 0;
}

.hoem_about_container .txt_box p{
	color: #888;
	padding:20px 0;
}

.home_about_ul > li{
	margin-bottom: 20px;
}

.home_about_ul > li > .home_about_li{
	border:2px solid #CCC;
	border-radius: 5px;
	padding: 6px 25px 6px 9px;
	position: relative;
	cursor:pointer;
}

.home_about_ul > li > .home_about_li.active{
	border:2px solid #8ac469;
}

.home_about_ul > li > .home_about_li.active .home_about_li_span{
	color: #8ac469;
}

.home_about_ul > li > .home_about_li.active .icon{
	color: #8ac469;
}

.home_about_ul > li > .home_about_li .flaticon-arrow487{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s;
}

.home_about_ul > li > .home_about_li.active .flaticon-arrow487{
	color: #8ac469;
	transform: translateY(-50%) rotate(90deg);
}

.home_about_ul > li > .home_about_li_txt{
	margin:15px;
	color: #888;
	display: none;
}

.hoem_about_container .btn{
	display: inline-block;
	width: 160px;
	padding: 8px 20px;
	line-height: 20px;
	text-align: center;
	border:2px solid #8ac469;
	color: #8ac469;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-top: 20px;
	transition: all 0.3s;
}

.hoem_about_container .btn:hover{
	background: #8ac469;
	color: #FFF;
}



/*  */
/* parallax_container */
/*  */

.parallax_container{
	background-image: url(../img/slide01.jpg);
	background-size: cover;
	background-position: center center;
	position: relative;
}


@media screen and (min-width:900px){
	.parallax_container{
		background-attachment: fixed;
	}
}

.parallax_container .curtain{
	position: absolute;
	left: 0;
	top:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.parallax_box{
	text-align: center;
}

.parallax_box h2{
	font-size: 40px;
	color: #FFF;
	position: relative;
	margin-bottom: 40px;
}

.parallax_box h2 span{
	color: #8ac469;
	font-size: 40px;
	font-family: "Binggrae-Bold";
}

.parallax_box h2:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 70px;
	height: 2px;
	background: #FFF;
	transform: translateX(-50%);
	margin:10px 0;

}

.parallax_box p{
	color: #FFF;
}

.parallax_box a{
	display: inline-block;
	width: 160px;
	padding: 8px 20px;
	border:2px solid #FFF;
	margin-top: 40px;
	color: #FFF;
	border-radius: 5px;
	transition: all 0.3s;
}

.parallax_box a:hover{
	background: #FFF;
	color: #8ac469;
}









/*************************/
/****** history.html *****/
/*************************/

.page-header{
	border-bottom: none;
	margin:0;
}

.page-header h2{
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	font-size: 40px;
}

.page-header h2:before{
	content:"";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 70px;
	height: 2px;
	background: #8ac469;
	margin:10px 0;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  border:1.5px solid #8ac469;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li > .timeline-badge i{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	font-size: 20px;
	background: #8ac469;
	border-radius: 50%;
	line-height: 40px;
	color: #FFF;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: #8ac469;
  margin-bottom: 10px;
  font-size: 20px;
}

.timeline-body p{
	color: #888;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}










/*************************/
/****** incruit.html *****/
/*************************/

.incruit_container h2{
	font-size: 40px; 
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}

.incruit_container h2:before{
	display: block;
	content: "";
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	margin:10px 0;
	width: 70px;
	height: 2px;
	background: #8ac469;
}

.incruit_container .title_txt{
	text-align: center;
	color: #888;
	font-size: 16px;
}

.incruit_container .icon_box_ul hr{
	border-bottom: 1px dotted #CCC
}

.incruit_container .icon_box_ul h3{
	text-align: center;
	margin-bottom: 40px;
	color: #8ac469;
}

.incruit_container .icon_box_ul > li{
	margin-bottom: 50px;
}

.incruit_container .icon_box_ul > li.active{
	opacity: 0.5;
}

.incruit_container .icon_box{
	text-align: center;
}

.incruit_container .icon_box .icon{
	display: inline-block;
	text-align: center;
	width: 60px;
	height: 60px;
	font-size: 60px;
	color: #8ac469;
	margin-bottom: 40px;
}

.incruit_container .icon_box p{
	font-size: 15px;
	color: #888;
}

.incruit_container .bnner_txt1 p{
	text-align: center;
	margin-top: 20px;
	color: #888;
	font-size: 20px;
}

.incruit_container .bnner_txt2{
	text-align: center;
	margin-top: 20px;
}

.incruit_container .bnner_txt2 a{
	display: inline-block;
	min-width: 160px;
	padding: 8px 20px;
	border:2px solid #8ac469;
	border-radius: 5px;
	color: #8ac469;
	transition: all 0.3s;
}

.incruit_container .bnner_txt2 a:hover{
	color: #FFF;
	background: #8ac469;
}


/**************************/
/****** location.html *****/
/**************************/

.location_container h2{
	font-size: 40px;
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}

.location_container h2:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	width: 70px;
	height: 2px;
	transform:translateX(-50%);
	background: #8ac469;
	margin-top: 10px;
}

.location_container .txt_box hr{
	border-style: dotted;
	border-color: #CCC;
}

.location_container .map_box{
	border:1px solid #CCC;
	border-radius: 10px;
	box-sizing: border-box;
}

.location_container .txt_box span{
	color: #8ac469;
	font-style: normal;
	margin-right: 17px;
}

.location_container .txt_box p{
	margin-bottom: 5px;
	font-style: italic;
}



/***********************/
/****** cards.html *****/
/***********************/


.card_container{
	background-image: url(../img/bg-1.jpg);
	background-position: 0% 50%;
	background-repeat: no-repeat;
	border-bottom: 1px solid #CCC;
	padding: 120px 0 0 0;
}

.card_box .img_box h2{
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
	position: relative;
}

.card_box .img_box h2:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	width: 70px;
	height: 2px;
	margin:10px 0;
}

.card_box .img_box.pink h2:before{
	background: #F56363;
}

.card_box .img_box.green h2:before{
	background: #2c9244;
}

.card_box .img_box.blue h2:before{
	background: #28A6EC;
}

.card_box .img_box > div{
	width: 320px;
	height: auto;
	margin:0 auto;
	margin-bottom: 40px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.card_box .img_box > div img{
	display: block;
	width: 100%;
	height: auto;
}

.card_box .img_box > div > div{
	background: #FFF;
	border:1px solid #EEE;
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

.card_box .img_box > div > div h3{
	font-size: 18px;
	padding: 10px 0;
	font-weight: bold;
}

.card_box .img_box > div > div p{
	font-size: 16px;
	color: #888;
}

.card_box .messages_box{
	padding: 10px 0;
	border-radius: 10px;
	margin-bottom: 40px;
}

.card_box .messages_box i{
	margin:0 40px;
	width: 40px;
	height: 40px;
	position: relative;
	border-radius: 50%;
}

.card_box .messages_box i:before{
	width: 40px;
	height: 40px;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 40px;

}

.card_box .messages_box p{
	font-size: 20px;
	font-weight: 400;
}

@media screen and (min-width:500px){

	.card_box .messages_box i,
	.card_box .messages_box p{
		display: inline-block;
		vertical-align: middle;
	}
}

@media screen and (max-width:499px){
	.card_box .messages_box i,
	.card_box .messages_box p{
		display: block;
		text-align: center;
		margin:0 auto;
	}
}

.card_box .messages_box.pink{
	border:2px solid #F56363;
	background-color: #FDE0E0;
}


.card_box .messages_box.pink i{
	border:2px solid #F56363;
	color: #F56363;
}

.card_box .messages_box.pink p{
	color: #F56363;
}

.card_box .messages_box.green{
	border:2px solid #2c9244;
	background-color: #D5F1DC;
}


.card_box .messages_box.green i{
	border:2px solid #2c9244;
	color: #2c9244;
}

.card_box .messages_box.green p{
	color: #2c9244;
}

.card_box .messages_box.blue{
	border:2px solid #28A6EC;
	background-color: #D4EDFB;
}


.card_box .messages_box.blue i{
	border:2px solid #28A6EC;
	color: #28A6EC;
}

.card_box .messages_box.blue p{
	color: #28A6EC;
}



.card_container .banner_box{
	margin-top: 40px;
	padding: 15px 0;
}

.card_container .banner_box.pink{
	background: #FDE0E0;
}

.card_container .banner_box.green{
	background: #D5F1DC;
}

.card_container .banner_box.blue{
	background: #D4EDFB;
}

.card_container .banner_box .txt{
	font-size: 18px;
	margin: 5px 0;
}

.card_container .banner_box.pink .txt{
	color: #F56363;
}

.card_container .banner_box.green .txt{
	color: #2c9244;
}

.card_container .banner_box.blue .txt{
	color: #28A6EC;
}


/*******************/
/***** service *****/
/*******************/

.service_container{
	padding-bottom: 0;
}

.service_container h2{
	text-align: center;
	font-size: 40px;
	position: relative;
	margin-bottom: 40px;
}

.service_container h2:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	width: 70px;
	height: 2px;
	background: #8ac469;
	margin: 10px 0;
}

.service_img_box{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
}

.service_img_box .curtain{
	position: absolute;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,0.8);
}

@media screen and (min-width:992px){
	.service_img_box .curtain{
		width: 50%;
		left:50%;
	}
}

@media screen and (max-width:991px){
	.service_img_box .curtain{
		width: 100%;
		left:0;
	}
}

.service_container .geeks_box{
	background-image: url(../img/img_geeks02.jpg);
}

.service_container .cardes_box{
	background-image: url(../img/img_cards02.jpg);
}


.service_img_box .txt_box{
	padding:40px 0 40px 50px;
}

.service_img_box .txt_box h3{
	color: #FFF;
	font-size: 30px;
}

.service_img_box .txt_box .bar{
	margin: 20px 0;
	width: 50px;
	height: 2px;
	background: #FFF;
}

.service_img_box .txt_box .btn{
	display: inline-block;
	width: 160px;
	padding: 8px 20px;
	text-align: center;
	border:2px solid #FFF;
	border-radius: 5px;
	color: #FFF;
	margin-top: 20px;
	font-size: 16px;
	transition: all 0.3s;
}

.service_img_box .txt_box .btn:hover{
	background: #FFF;
	color: #8ac469;
}

.service_img_box  .txt_icon_box li{
	padding: 10px 0;
}

.service_img_box  .txt_icon_box i:before{
	color: #8ac469;
	font-size: 20px;
	display: inline-block;
	margin-right: 10px;
}

.service_img_box  .txt_icon_box p{
	color: #FFF;
	font-size: 20px;
	display: inline-block;
}




/*******************/
/***** contact *****/
/*******************/


.contact_container h2{
	text-align: center;
	font-size: 40px;
	position: relative;
	margin-bottom: 40px;
}

.contact_container h2:before{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 70px;
	height: 2px;
	background: #8ac469;
	margin-top: 10px;
	transform:translateX(-50%);
}

.contact_container form{
	padding: 0 10px;
}

.contact_container .conacct_txt1{
	text-align: center; 
	line-height: 24px;
}

.contact_table_box{
	margin:0 auto; 
	margin-top: 25px; 
	width: 100%; 
	max-width: 1030px; 
	text-align: left;
}

.contact_table_box .tr1{
	border-top:1px solid #DDD;
}

.contact_table_box .tr1 th{
	width: 50%;
}


.contact_table_box th:last-child{
	padding-left: 23px; 
	box-sizing: border-box;
}

.contact_table_box th:first-child{
	padding-left: 80px; 
	box-sizing: border-box;
}


.contact_table_box th{
	padding-top: 30px; 
	line-height: 1.5; 
	color: #222; 
	letter-spacing: 0.5px; 
	font-weight: bold;
}

.contact_table_box td{
	padding-bottom: 30px; 
	padding-top: 7px;
	width: 50%;
}


.contact_table_box td:last-child{
	padding-left: 23px; 
	box-sizing: border-box;
}

.contact_table_box td:first-child{
	padding-left: 80px; 
	box-sizing: border-box;
}


.contact_table_box td input{
	padding: 17px; 
	box-sizing: border-box; 
	border:1px solid #DDD; 
	border-radius: 10px; 
	width: 100%; 
	max-width: 400px;
}

.contact_table_box td textarea{
	padding: 17px; 
	box-sizing: border-box; 
	border: 1px solid #DDD; 
	border-radius: 10px; 
	width: 100%; 
	background: none;
	min-height: 120px;
}


@media screen and (max-width:1024px){

	.contact_table_box th:last-child{
		padding-left: 10px;
	}

	.contact_table_box th:first-child{
		padding-left: 0;
	}

	.contact_table_box td:last-child{
		padding-left: 10px;
	}

	.contact_table_box td:first-child{
		padding-left: 0;
	}

	.contact_table_box td input{
		font-size: 12px;
	}

}


.btn_group{
	max-width: 1200px; 
	width: 95%; 
	margin:0 auto; 
	margin-top: 40px; 
	text-align: center;
}

.btn_group .Btn{
	width: 150px; 
	height: 50px; 
	border:1px solid #CCC; 
	text-align: center; 
	line-height: 50px;
	border-radius: 10px; 
	font-size: 18px; 
	color: #222; 
	font-weight: bold; 
	position: relative; 
	overflow: hidden;
	transition: all 0.3s;
}

.btn_group .Btn:hover{
	background: #8ac469; 
	color:#FFF;
}




@media screen and (min-width:500px){

	.btn_group .Btn{
		display: inline-block; 
		vertical-align: middle; 
		margin:0 10px;
	}
}

@media screen and (max-width:499px){

	.btn_group .Btn{
		display: block; 
		margin:20px auto;
	}
}




/**********************/
/***** contact_ok *****/
/**********************/


.contact_ok_container .content_box{
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.contact_ok_container .content_box p{
	color: #888;
	font-size: 20px;
	line-height: 2;
}



/********************************/
/***** consulting_container *****/
/********************************/

.consulting_container{
	padding-bottom: 0;
}

.consulting_container h2{
	text-align: center;
	font-size: 40px;
	position: relative;
	margin-bottom: 40px;
}

.consulting_container h2:before{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 70px;
	height: 2px;
	background: #8ac469;
	margin-top: 10px;
	transform: translateX(-50%);
}

.consulting_container p{
	text-align: center;
	padding: 10px 15px;
	margin-bottom: 40px;
	color: #888;

}

.consulting_container .consul_box li{
	height: 300px;
	box-sizing: border-box;
	padding: 70px 20px;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.consulting_container .consul_box li:before{
	position: absolute;
	content: "";
	display: inline-block;
	z-index: 99;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

.consulting_container .consul_box li i{
	position: absolute;
	font-size: 330px;
	opacity: 0.08;
	color: #000;
	bottom: -135px;
	right: -130px;
	z-index: 100;

}

.consulting_container .consul_box li p{
	z-index: 110;
	font-size: 23px;
	border:2px solid #FFF;
	color: #FFF;
	padding: 8px;
	border-radius: 5px;
	transition: all 0.3s;
	font-weight: 700;
	cursor: default;
	text-align: center;
}

.consulting_container .consul_box li:hover p{
	background: #FFF;
}

.consulting_container .consul_box li.list1:before{
	background: #f2f2f2;
}

.consulting_container .consul_box li.list1 p{
	color: #7e888c;
	border-color: #7e888c;
}

.consulting_container .consul_box li.list1:hover p{
	color: #FFF;
	background: #7e888c;
}

.consulting_container .consul_box li.list2:before{
	background: #43C5B8;
}


.consulting_container .consul_box li.list2:hover p{
	color: #43C5B8;
}

.consulting_container .consul_box li.list3:before{
	background: #28a6ec;
}

.consulting_container .consul_box li.list3:hover p{
	color: #28a6ec;
}


.consulting_container .consul_box li.list4:before{
	background: #F56363;
}

.consulting_container .consul_box li.list4:hover p{
	color: #F56363;
}

.consulting_container .consul_box li.list5:before{
	background: #112F41;
}

.consulting_container .consul_box li.list5:hover p{
	color: #112F41;
}

.consulting_container .consul_box li.list6:before{
	background: #F2B134;
}

.consulting_container .consul_box li.list6:hover p{
	color: #F2B134;
}



@media screen and (min-width:997px){

	.consulting_container .consul_box li{
		float: left;
		width: 33.33%;
	}

	

}


@media screen and (min-width:560px) and (max-width:996px){

	.consulting_container .consul_box li{
		float: left;
		width: 50%;
	}

}


@media screen and (max-width:559px){

	

}








/******************/
/***** footer *****/
/******************/




footer{
	background: #1a1a1a;
	border-top: 1px solid #999;
}

footer.page_section{
	padding: 50px 0 0 0;
}

.footer_box{
	text-align: center;
}

.footer_box h3{
	font-size: 18px;
	color: #FFF;
	margin-bottom: 40px;
	position: relative;
}

.footer_box h3:before{
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	margin:20px 0;
	background: #8ac469;
	width: 30px;
	height: 2px;
}

.footer_box > div{
	margin-bottom: 40px;
}

.footer_box ul li a{
	display: block;
	color: #FFF;
	font-size: 14px;
}

.footer_box ul li a:hover{
	color: #8ac469;
}

.footer_box .icon_box li{
	display: inline-block;
	margin:0 10px;
	width: 40px;
	height: 40px;
	background: #FFF;
	border-radius: 50%;
}

.footer_box .icon_box li:hover{
	background: #8ac469;
}

.footer_box p{
	color: #FFF;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
}


